#books-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 300px));
    gap: 32px;
    justify-content: center;
    padding: 40px;
}

.book{
    background-color: var(--bg-color-book-card);
    border-radius: 20px;
}

.book-headline{
    min-height: 100px;
}

.book-headline, 
.book-content-container{
    padding-inline: var(--content-padding);
    padding-block: var(--content-padding);
}

.book-img{
    height: 150px;
    border-top: 2px solid var(--border-book-card);
    border-bottom: 2px solid var(--border-book-card);
    background-color: var(--bg-color-book-img);
}

.book-img img{
    height: 100%;
}

.book-price-likes, 
.book-comments{
    padding-block: var(--content-padding);
}

.book-comments{
    padding-bottom: 0;
}

.likes-container{
    gap: 10px;
}

.book-price strong{
    color: var(--color-price);
    font-weight: 700;
    font-size: 24px;
}

.like-btn i{
    color: var(--color-price);
    font-size: 20px;
}

.book-info tr td:first-child{
    padding-right: 16px;
}

.book-description{
    padding-bottom: var(--content-padding);
    border-bottom: 2px solid var(--border-book-card);
    min-height: 140px;
}

.comment-input-container{
    gap: 10px;
    padding-top: 20px;
}

.comment-user-name{
    margin-bottom: 10px;
    margin-top: 16px;
}

.book-comment{
    height: 150px;
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: #10333E #34515B;
}

.comment-input-user{
    flex: 1;
    background-color: rgba(255,255,255,0.15);
    padding-left: 7px;
    border: none;
    border-bottom: 2px solid var(--border-book-card);
    min-width: 0;
}

.comment-input-user::placeholder{
    color: rgba(255,255,255,0.45);
    font-style: italic;
}

.comment-btn{
    font-size: 22px;
    padding: 6px;
    
}

.comment-btn i{
    color: rgba(255,255,255,0.85);
}