.display-flex{
    display: flex;
}

.flex-wrap{
    flex-wrap: wrap;
}

.flex-center-x{
    justify-content: center;
}

.flex-center-y{
    align-items: center;
}

.flex-space-between{
    justify-content: space-between;
}