footer{
    background-color: #0a222c;
    padding-inline: 16px;
    padding-block: 6px;
    /*border-top: 2px solid var(--border-book-card);*/
}

.footer-logo{
    height: 50px;
}

.footer-logo img{
    height: 100%;
}