*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: var(--color-font);
    font-family: "Google Sans", sans-serif;
    line-height: 1.25;
}
html,
body{
   height: 100%; 
}

body{
    background-color: var(--bg-color-body);
}

main{
    max-width: var(--content-max-width);
    margin: 0 auto;
    min-height: calc(100vh - 95px - 62px);
}

a{
    text-decoration: none;
}

button, 
a{
    cursor: pointer;
}

button{
    border: none;
    background: none;
}

h3{
    padding-bottom: 10px;
}

header{
    background-color: #0a222c;
    padding-inline: 16px;
    padding-block: 6px;
    border-bottom: 2px solid var(--border-book-card);
}

.header-logo{
    width: 250px;
}

.header-logo img{
    width: 100%;
}

footer{
    background-color: #0a222c;
    padding-inline: 16px;
    padding-block: 6px;
    /*border-top: 2px solid var(--border-book-card);*/
}

.footer-logo{
    height: 50px;
}

.footer-logo img{
    height: 100%;
}